
@{
    ViewBag.Title = "Index";
}
<div class="welcome-msg">
    <h2 style="text-align:center">Welcome</h2>
    <h3 style="text-align:center">Here you can add and remove your courses.<br />
    Please go to login page to access your courses. </h3>
</div>
