@model CourseMvc.Models.User

@{
    ViewBag.Title = "Login";
}
    <style>
        h1{
            text-align:center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

.big {
            border: 1px solid gainsboro;
            width: 50%;
            position: center;
            margin: 0 auto;
            height: 100%;
        }

        input[type = text], input[type = password] {
            border: 1px solid gainsboro;
            padding: 10px;
            margin: 8px, 0;
            display: inline-block;
            width: 100%;
        }

.box {
            padding: 16px;
            width: 50%;
            height: 100%;
        }

.button {
            border: 1px solid gainsboro;
            padding: 10px;
            margin: 15px;
            display: inline-block;
            width: 50%;
        }

.button:hover {
            cursor: pointer;
            background-color: black;
            color: whitesmoke;
        }

.avatar{
            width: 10%;
            height: 10%;
        }
.imgbox{
            margin: 10px;
            text-align:center;
        }
    </style>
    <h1> Login Page</h1>

<form id="loginForm" method="post">
   <div style="color:red;text-align:center;margin-bottom:10px;">
       @ViewBag.Message
   </div>
    <div class="big">
            <div class="imgbox">
                <img src="~/Images/lo.png" alt="Login" class="avatar" />
            </div>
            <div class="box">
                <div>
                <label>User Name:</label>
                </div>
                <div>
                    <input type="text" name="UserName" id="UserName" required/>
                </div>
                <div>
                  <label>Password:</label>
                </div>
                <div>
                    <input type="password" name="UserPassword" id="UserPassword" required />
                </div>
                
                <input class="button" type="submit" onclick="store()" value="Login" />
            </div>
    </div>
    </form>

}

    <script src="~/Scripts/jquery.validate.js">
        function store() {
            localStorage.setItem('UserName', document.getElementById("UserName").value);
            window.location.href = "Login/Index?UserName=" + localStorage.getItem("UserName");
        }

        $("#loginForm").validate({
            rules: {
                UserName: "required",
                UserPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 15
                }
            },
            messages: {
                UserName: "Invalid username.",
                UserPassword: "Invalid password."
            }
        })
    </script>

